---
layout: prose.njk
---

<h1>some books i've read</h1>

<main>
  <ul class="p-0">
    {%- for book in collections.book | reverse -%}
    <li class="flex justify-between pl-0 flex-col md:flex-row">
      <a href="{{ book.url | url }}">{{ book.data.title }}</a>
      <span>{{ book.data.date | postDate }} ({{ book.data.rating }})</span>
    </li>
    {%- endfor -%}
  </ul>
</main>
