---
title: mgmarlow.com
layout: layouts/main.njk
pagination:
  data: collections.post
  size: 5
  alias: posts
  reverse: true
---

<div class="intro">
  <h1>Graham Marlow</h1>
  <p>Programmer of web apps and video games. <a href="{{ 'tags/emacs' | url }}">Emacs enthusiast</a>.</p>

  <dl class="links-table">
    <dt>github</dt>
    <dd><a href="https://github.com/mgmarlow">mgmarlow</a></dd>

    <dt>email</dt>
    <dd><a href="mailto:info@mgmarlow.com">info@mgmarlow.com</a></dd>
  </dl>
</div>

<section>
  <h2>Recent posts</h2>

  {%- for post in posts -%}
  <div class="post-item">
    <div><a href="{{ post.url | url }}">{{ post.data.title }}</a></div>
    <div><small>{{ post.data.date | postDate }}</small></div>
  </div>
  {%- endfor -%}

  <a href="{{ '/words' | url }}">See all</a>
</section>

<section>
  <h2>Recent projects</h2>

  <dl class="links-table">
    <dt><a href="https://emacs-config-generator.fly.dev">Emacs starter kit</a></dt>
    <dd>Kickstart your Emacs config with sensible defaults</dd>

    <dt><a href="https://mgmarlow.itch.io/shuffle-hustle">Shuffle hustle</a></dt>
    <dd>Tiny word game inspired by NYT's Spelling Bee</dd>

    <dt><a href="https://mgmarlow.itch.io/swapper">Swapper</a></dt>
    <dd>Puzzlescript game with swapping mechanics</dd>
  </dl>
</section>

<section>
  <h2>Emacs packages</h2>

  <dl class="links-table">
    <dt><a href="https://github.com/mgmarlow/focus-mode">focus-mode</a></dt>
    <dd>A minor mode for focused writing</dd>

    <dt><a href="https://github.com/mgmarlow/flymake-fennel">flymake-fennel</a></dt>
    <dd>Flymake backend for the Fennel programming language</dd>

    <dt><a href="https://github.com/mgmarlow/deno-ts-mode">deno-ts-mode</a></dt>
    <dd>Major mode for Deno, built on tree-sitter</dd>

    <dt><a href="https://github.com/mgmarlow/flymake-clippy">flymake-clippy</a></dt>
    <dd>Flymake backend for Clippy, the Rust linter</dd>

    <dt><a href="https://github.com/mgmarlow/git-share">git-share</a></dt>
    <dd>Share code links with colleagues</dd>
  </dl>
</section>
