---
layout: post.njk
---

<h1>words</h1>
<p>Some musings, mostly technical.</p>

<main>
  <ul class="p-0">
    {%- for post in collections.post | reverse -%}
    <li class="flex justify-between pl-0 flex-col md:flex-row">
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      <span>{{ post.data.date | postDate }}</span>
    </li>
    {%- endfor -%}
  </ul>
</main>
