/**
 * https://typographyhandbook.com/
 */

:root {
  --body-font: 'Roboto', 'Segoe UI', 'BlinkMacSystemFont', -apple-system,
    Helvetica, Arial, sans-serif;
  --header-font: 'Roboto', 'Segoe UI', 'BlinkMacSystemFont', -apple-system,
    Helvetica, Arial, sans-serif;

  --line-height: 1.5;
  --body-font-size: 1.25rem;

  --h6-font-size: 1em;
  --h5-font-size: 1.125em;
  --h4-font-size: 1.25em;
  --h3-font-size: 1.5em;
  --h2-font-size: 1.75em;
  --h1-font-size: 2em;

  --bottom-margin: 1.25rem; /* ratio * body font rems */
  --title-bottom-margin: 2.5rem; /* --bottom-margin * 2 */

  --theme-bg: #fff;
  --theme-text: #363636;
  --theme-text-light: #4a4a4a;
}

:root.theme-dark {
  color-scheme: dark;

  --theme-bg: #171b21;
  --theme-text: #e8e9eb;
  --theme-text-light: #c5cad2;
}

body {
  font-family: var(--body-font);
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: var(--line-height);
  background-color: var(--theme-bg);
  color: var(--theme-text-light);
  font-size: var(--body-font-size);
}

a {
  color: var(--theme-text-light);
}

p {
  margin-bottom: var(--bottom-margin);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--theme-text);
  font-family: var(--header-font);
  font-weight: 700;
}

h4 {
  font-size: var(--h4-font-size);
  margin-bottom: var(--bottom-margin);
}

h3 {
  font-size: var(--h3-font-size);
  margin-bottom: var(--bottom-margin);
}

h2 {
  font-size: var(--h2-font-size);
  margin-bottom: var(--bottom-margin);
}

h1 {
  font-size: var(--h1-font-size);
  margin-bottom: var(--title-bottom-margin);
}
