---
title: about mgmarlow.com
layout: layouts/page.njk
---

<div class="intro">
  <h1>Hi, I'm Graham Marlow.</h1>

  <p>I'm a software engineer based in California. I mostly blog about programming.</p>

  <p>
    I'm also a casual <a href="https://crosshare.org/mgmarlow">crossword constructor</a>
    and occasional <a href="https://mgmarlow.itch.io/">game jammer</a>.
  </p>

  <dl class="links-table">
    <dt>github</dt>
    <dd><a href="https://github.com/mgmarlow">mgmarlow</a></dd>

    <dt>email</dt>
    <dd><a href="mailto:blog@mgmarlow.com">blog@mgmarlow.com</a></dd>

    <dt>support</dt>
    <dd><a href="https://ko-fi.com/mgmarlow">buy me a coffee</a></dd>
  </dl>
</div>

<section>
  <h2>Recent projects</h2>

  <dl class="links-table">
    <dt><a href="https://mgmarlow.itch.io/kajam2024">kat's ghost</a></dt>
    <dd>Block-pushing puzzle goodness for KAJAM 2024</dd>

    <dt><a href="https://github.com/mgmarlow/start-emacs">Start Emacs</a></dt>
    <dd>Start your Emacs config with a single command</dd>

    <dt><a href="https://mgmarlow.itch.io/shuffle-hustle">Shuffle hustle</a></dt>
    <dd>Tiny word game inspired by NYT's Spelling Bee</dd>

    <dt><a href="https://mgmarlow.itch.io/swapper">Swapper</a></dt>
    <dd>Puzzlescript game with swapping mechanics</dd>

    <dt><a href="https://github.com/mgmarlow/git-share">git-share</a></dt>
    <dd>Share code links with colleagues</dd>
  </dl>
</section>

