---
layout: layouts/page.njk
eleventyImport:
  collections: ["post", "tag"]
---

<h1>Archive</h1>

<p>
  Tags:
  {% for tag in collections | getKeys | filterTagList | sortAlphabetically %}
    <a href="/tags/{{ tag }}">{{ tag }}</a>
  {% endfor %}
</p>

<ul class="p-0">
{%- for post in collections.post | reverse -%}
  <li class="flex space-between mobile-block spacing">
    <p class="m-0 p-0"><a href="{{ post.url | url }}">{{ post.data.title }}</a></p>
    <time>{{ post.data.date | postDate }}</time>
  </li>
{%- endfor -%}
</ul>
