---
layout: layouts/page.njk
---

<h1>Today I Learned</h1>

<p>Little things I've learned and the occasional idea. <a href="{{ '/til-feed.xml' | url }}">RSS</a></p>

{%- for til in collections.til | reverse -%}
<article class="spacing-4">
  <h2><a href="{{ til.url | url }}">{{ til.data.date | postDate }}: <strong>{{ til.data.title }}</strong></a></h2>
  <p>{{ til.content | safe }}</p>
</article>
{%- endfor -%}

