<footer class="max-w-prose mx-auto text-slate-900 dark:text-slate-200">
  <div role="separator" class="py-4 text-slate-900 dark:text-slate-200">
    <div class="w-full border-t border-gray-400"></div>
  </div>

  <div class="md:flex md:justify-between">
    <p>mgmarlow.com by <a class="underline" href="{{ '/about' | url }}">Graham Marlow</a></p>
  </div>
</footer>
