<footer class="prose dark:prose-invert">
  <div role="separator" class="py-4">
    <div class="w-full border-t border-gray-400"></div>
  </div>

  <div class="md:flex md:justify-between">
    <div>
      <strong><a href="{{ '/about' | url }}">mgmarlow.com</a></strong>
    </div>

    <div class="mt-5 md:mt-0">
      <strong><a href="mailto:mgmarlow@hey.com">graham@mgmarlow.com</a></strong>
    </div>
  </div>
</footer>
