<nav class="header">
  <a class="nohighlight" href="{{ '/' | url }}">{{ site.title }}</a>

  <div>
    <a href="{{ '/about' | url }}">about</a>
    <a href="{{ '/til' | url }}">TIL</a>
    <a href="{{ '/feed.xml' | url }}">RSS</a>
  </div>
</nav>
