:root,
::backdrop {
    --monospace-font: Consolas, Menlo, Monaco, "Ubuntu Mono", monospace;
    --sans-font: "Inter", Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    --serif-font: "Libre Baskerville", serif;
    --base-fontsize: 18px;
    --line-height: 1.6;
    --content-width: 40rem;
    --site-width: 96rem;

    /* theme */
    --bg: #fff;
    --text: #212121;
    --text-light: #585858;
    --accent: #0d47a1;
    --code: #d81b60;
}

@media (prefers-color-scheme: dark) {
    :root,
    ::backdrop {
        color-scheme: dark;
        --bg: #1c1b22;
        --text: #f3f4f6;
        --text-footer: #ababab;
        --text-light: #c9d1d3;
        --accent: #5886ff;
        --code: #f06292;
    }
}

html {
    font-family: var(--serif-font);
}

p, h1, h2, h3, h4, h5, h6, li, a {
    overflow-wrap: break-word;
}

body {
    max-width: var(--site-width);
    color: var(--text-light);
    background-color: var(--bg);
    font-size: var(--base-fontsize);
    line-height: var(--line-height);
}

pre code[class*="language-"] {
    font-size: 0.9rem;
}

.container {
    max-width: var(--content-width);
    margin: 0 auto;
}

header nav {
    padding: 1rem;
}

main {
    margin-bottom: 2rem;
    padding: 1rem;
}

footer {
    color: var(--text-footer);
}

code {
    color: var(--code);
}

pre, code {
    font-family: var(--monospace-font);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text);
}

img, video {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
}
a, a:visited {
    color: var(--accent);
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}

blockquote {
    font-style: italic;
    margin-inline-start: 1rem;
    border-inline-start: 0.35rem solid #eee;
    padding: 0 0.85rem;
}

.nohighlight, .nohighlight:visited {
    color: var(--text-light);
}

.list-none { list-style: none; }

.flex { display: flex; }
.space-between { justify-content: space-between; }
.inline-block { display: inline-block; }

.m-0 { margin: 0; }
.p-0 { padding: 0; }
.mr-1 { margin-right: 1rem; }
.mb-1 { margin-bottom: 1rem; }

.spacing:not(:last-child) {
  margin-bottom: 0.5rem;
}

.spacing-2:not(:last-child) {
  margin-bottom: 2rem;
}

.spacing-4:not(:last-child) {
  margin-bottom: 4rem;
}

.text-center { text-align: center; }

@media only screen and (max-width: 720px) {
  .mobile-mb-1 {
    margin-bottom: 1rem;
  }

  .mobile-block {
    display: block;
  }
}
