---
import ArticlePreview from '../components/ArticlePreview.jsx'
import Container from '../components/Container.astro'

let allPosts = Astro.fetchContent('./articles/*.md')
allPosts = allPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf())
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>mgmarlow.com</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/style/global.css" />
  </head>
  <body>
    <main>
      <Container>
        <h1>mgmarlow.com</h1>

        <section>
          <ul>
            {allPosts.map(p => <li><ArticlePreview article={p} /></li>)}
          </ul>
        </section>
      </Container>
    </main>
  </body>
</html>
