@charset "utf-8";

$family-sans-serif: 'Roboto', BlinkMacSystemFont, -apple-system, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
// Ensure prism doesn't override font size
$code-size: 0.85em !important;
$link: hsl(0, 0%, 29%);

@import '../node_modules/bulma/bulma.sass';

a {
  text-decoration: underline !important;
}

pre[class*='language-'] {
  font-size: $code-size;
}

// Copy .content margin:
.remark-highlight {
  margin-bottom: 1em;
}
