@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Italic.woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Bold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-BoldItalic.woff2");
    font-style: italic;
    font-weight: 700;
}

:root,
::backdrop {
    --monospace-font: Consolas, Menlo, Monaco, "Ubuntu Mono", monospace;
    --sans-font: "Inter", Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    --base-fontsize: 16px;
    --line-height: 1.5;

    /* theme */
    --bg: #fff;
    --text: #212121;
    --text-light: #585858;
    --accent: #0d47a1;
    --code: #d81b60;
}

@media (prefers-color-scheme: dark) {
    :root,
    ::backdrop {
        color-scheme: dark;
        --bg: #1c1b22;
        --text: #f3f4f6;
        --text-footer: #ababab;
        --text-light: #c9d1d3;
        --accent: #5886ff;
        --code: #f06292;
    }
}

html {
    font-family: var(--sans-font);
}

p, h1, h2, h3, h4, h5, h6, li, a {
    overflow-wrap: break-word;
}

body {
    color: var(--text-light);
    background-color: var(--bg);
    font-size: var(--base-fontsize);
    line-height: var(--line-height);
    max-width: 45rem;
    margin: 0 auto;
    padding: 1rem;
}

main {
    margin: 3rem auto;
    margin-bottom: 5rem;
}

footer {
    color: var(--text-footer);
}

code {
    color: var(--code);
}

pre, code {
    font-family: var(--monospace-font);
}

pre[class*="language-"] {
    line-height: 1.2 !important;
}

pre code[class*="language-"] {
    border: none;
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: var(--text);
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2rem;
    margin-top: 3rem;
}

h3 {
    font-size: 1.44rem;
    margin-top: 3rem;
}

h4 {
    font-size: 1.15rem;
}

h1, h2, h3 {
    line-height: 1.1;
}

p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
}
a, a:visited {
    color: var(--accent);
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}

blockquote {
    font-style: italic;
    margin-inline-start: 1rem;
    border-inline-start: 0.35rem solid #eee;
    padding: 0 0.85rem;
}

.posttitle {
    margin-bottom: 0.5rem;
}

.subtitle {
    margin-top: 0rem;
}

.post-item {
    margin-bottom: 1rem;
}
.post-item-full {
    margin-bottom: 2rem;
}
.post-item-full h2 {
    font-size: 1.44em;
    margin-bottom: 0rem;
}
.post-item-full p {
    margin-top: 0rem;
}

.links-table {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: .2rem 1rem;
}
@media only screen and (max-width: 720px) {
    .links-table {
        display: block;
    }
}

.header {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}
.header a {
    margin-right: 1rem;
    font-weight: bold;
}

.nohighlight, .nohighlight:visited {
    color: var(--text-light);
}
