@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Italic.woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Bold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-BoldItalic.woff2");
    font-style: italic;
    font-weight: 700;
}

:root,
::backdrop {
    --monospace-font: Consolas, Menlo, Monaco, "Ubuntu Mono", monospace;
    --sans-font: "Inter", Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    --base-fontsize: 18px;
    --line-height: 1.5;

    /* theme */
    --bg: #fff;
    --text: #212121;
    --text-light: #585858;
    --accent: #0d47a1;
    --code: #d81b60;
}

@media (prefers-color-scheme: dark) {
    :root,
    ::backdrop {
        color-scheme: dark;
        --bg: #1c1b22;
        --text: #f3f4f6;
        --text-footer: #ababab;
        --text-light: #c9d1d3;
        --accent: #5886ff;
        --code: #f06292;
    }
}

html {
    font-family: var(--sans-font);
}

p, h1, h2, h3, h4, h5, h6, li, a {
    overflow-wrap: break-word;
}

body {
    color: var(--text-light);
    background-color: var(--bg);
    font-size: var(--base-fontsize);
    line-height: var(--line-height);
    max-width: 48rem;
    margin: 0 auto;
    padding: 1rem;
}

pre code[class*="language-"] {
    font-size: 0.9rem;
}

main {
    margin: 3rem auto;
    margin-bottom: 5rem;
}

footer {
    color: var(--text-footer);
}

code {
    color: var(--code);
}

pre, code {
    font-family: var(--monospace-font);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text);
}

img, video {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
}
a, a:visited {
    color: var(--accent);
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}

blockquote {
    font-style: italic;
    margin-inline-start: 1rem;
    border-inline-start: 0.35rem solid #eee;
    padding: 0 0.85rem;
}

.nohighlight, .nohighlight:visited {
    color: var(--text-light);
}
