{% extends "layouts/main.njk" %}

{% block content %}
  <article class="prose prose-lg dark:prose-invert">
    <p><strong>{{ title }}</strong> by {{ author }}<br />Finished: {{ date | postDate }}<br />Rated: {{ rating }}/5</p>

    {{ content | safe }}
  </article>
{% endblock %}
