<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ title }}</title>
    <meta name="description" content="Graham Marlow"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="alternate" type="application/rss+xml" title="Graham Marlow" href="https://mgmarlow.com/feed.xml" />
    <link href="{{ '/styles/reset.css' | url }}" rel="stylesheet"/>
    <link href="{{ '/styles/index.css' | url }}" rel="stylesheet"/>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-tomorrow.css" rel="stylesheet">
  </head>
  <body>
    {% block header %}
    {% endblock %}

    <main>
      {% block content %}
      {{ content | safe }}
      {% endblock %}

      {% block footer %}
      {% endblock %}
    </main>

    {% include "footer.njk" %}
  </body>
</html>
