{% extends "layouts/main.njk" %}

{% block content %}
  <article class="prose dark:prose-invert">
    {{ content | safe }}
  </article>
{% endblock %}

{% block footer %}
  <div class="my-10">
    {% include "footer.njk" %}
  </div>
{% endblock %}
