{% extends "layouts/main.njk" %}

{% block content %}
  {% if "emacs" in tags %}
    {% include "bookpromo.njk" %}
  {% endif %}

  <article>
    <div>
      <h1 class="posttitle">{{ title }}</h1>
      <p class="m-0">
        <small>
          <span><time>{{ date | postDate }}</time>{{ ' (updated: ' + updated | postDate + ')' if updated }}</span>
          by {{ site.author.name }}
          {%- for tag in tags | filterTagList -%}
            , <a href="/tags/{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </small>
      </p>
    </div>
    {{ content | safe }}
  </article>
{% endblock %}

{% block footer %}
  <div>
    <br />

    <p>Thanks for reading! <a href="mailto:{{ site.author.email }}">Comment by email</a>.</p>
  </div>
{% endblock %}
