{% extends "layouts/main.njk" %}

{% set previousPost = collections.post | getPreviousCollectionItem(page) %}
{% set nextPost = collections.post | getNextCollectionItem(page) %}

{% block header %}
{% include "header.njk" %}
{% endblock %}

{% block content %}
  <article>
    <div>
      <h1 class="posttitle">{{ title }}</h1>
      <p class="subtitle">
        <small>
          <span>Posted: <time>{{ date | postDate }}</time><em>{{ '; Updated: ' + updated_at | postDate  if updated_at }}</em></span>
          <span>
            {% for tag in tags %}
              {% if tag !== "post" %}
                <a class="ml-2 tag" href="{{ '/tags/' + tag | url }}">{{ tag }}</a>
              {% endif %}
            {% endfor %}
          </span>
        </small>
      </p>
    </div>
    {{ content | safe }}
  </article>
{% endblock %}

{% block footer %}
  <div>
    <br />

    <p>Thanks for reading! Send your comments to <a href="mailto:blog@mgmarlow.com">blog@mgmarlow.com</a>.</p>

    <ul>
      {% if previousPost %}
      <li>
        Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
      </li>
      {% endif %}

      {% if nextPost %}
      <li>
        Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
      </li>
      {% endif %}
    </ul>
  </div>
{% endblock %}
